/* Box sizing rules */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body nav .nav-links li.nav-links-fade {
  opacity: 1;
  -webkit-transition: 1s ease-out 0.25s;
  transition: 1s ease-out 0.25s;
}

body nav ul.nav-links-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle-burger-middle {
  opacity: 0;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.toggle-burger-top {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.toggle-burger-bottom {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  position: relative;
}

body nav .logo {
  color: #fff;
  letter-spacing: 3px;
  font-weight: 400;
}

body nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

@media (max-width: 780px) {
  body nav .nav-links {
    width: 50%;
    height: 92vh;
    position: absolute;
    right: 0;
    top: 8vh;
    background-color: #5d4954;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
  }
}

body nav .nav-links li {
  color: #fff;
}

@media screen and (max-width: 780px) {
  body nav .nav-links li {
    opacity: 0;
  }
}

body nav .nav-links li a {
  color: #fff;
  text-decoration: none;
}

body nav .burger-container {
  display: none;
  cursor: pointer;
}

@media (max-width: 780px) {
  body nav .burger-container {
    display: block;
  }
}

body nav .burger-container .burger {
  width: 25px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav .burger-container .burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
/*# sourceMappingURL=styles.css.map */